<div class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Motion Click</a>
      <ul class="nav">
        <li><a href="/">Video Clips</a></li>
        <li><a href="/experiments/<%= @data.first.experiment.id %>/clicker" >Experiment</a></li>
      </ul>
    </div>
  </div>
</div>
