<div class=container>

  <table class=table>
    <tr>
      <th>Frame</th>
      <th>Time</th>
      <th>X</th>
      <th>Y</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @data.each do |datum| %>
    <tr>
      <td><%= datum.frame %></td>
      <td><%= datum.time %></td>
      <td><%= datum.x %></td>
      <td><%= datum.y %></td>
    </tr>
  <% end %>
  </table>

</div>