<div class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Motion Click</a>
      <ul class="nav">
        <li class=active><a href="/">Video Clips</a></li>
        <li><a href="/experiments">Experiments</a></li>
      </ul>
    </div>
  </div>
</div>
