<div class=row-fluid>
  	<div class='span10 offset2'>
		<h1>Upload a new videoclip</h1>
		    <p>
		      Please note that uploading a videoclip may take a long time depending on network speed and current conditions.
		    </p>
		    <p>
		      Once a video clip has been uploaded, it must be processed before the individual frames can be viewed. 

		      To process a video, click the process button in its row in the videoclips below. 
		    </p>

		<%= render 'form' %>

		<%= link_to 'Back', videoclips_path, :class => 'btn' %>
	</div>
</div>
