<div class=container>

	<div class="navbar navbar-top">
		<div class="navbar-inner">
		  <a class="brand" href="/">Motion Click</a>
		  <ul class="nav">
		    <li><a href="/">Video Clips</a></li>
		    <li><a href="/experiments">Experiments</a></li>
		  </ul>
		</div>
	</div>

<h1>New videoclip</h1>

<%= render 'form' %>

<%= link_to 'Back', videoclips_path %>

</div>
