// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lightgray: #eee;

div#control-panel-row table {
	td {
		border: 1px solid $lightgray;
		padding: 0 8px 0 8px;
		text-align: right;
	}
}